.about{
  width: 100%;
}
.text{
  text-align: center;
  font-size: 5vh;
  margin-top: 2%;
}
@media (min-width: 350px) and (max-width: 550px) {
  .text {
    font-size:3vh;
    }
}
@media (min-width: 550px) and (max-width: 850px) {
  .text {
    font-size: 4vh;
    }
}