.home-image{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1600px;
  width: 100%;
  height: auto;
  max-height: 550px;

}
.home-image img {
    max-width: 100%;
    padding-top: 0%;
    top: 0;
    left: 0;
    position: absolute;
  }

  .home {
    background-color: #000;
    position: absolute;
    top:0;
  }
  .text-align{
    position: absolute;
    top: 600px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    color: #eee;
    background-color: black;
    font-size: 24px; /* dimensiunea fontului pentru desktop */
  }
  
  .home-change-color{
    background-color: rgb(156, 66, 66) !important;
    right: 20%;
    left: 20%;
  }