
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #000000;
  }
  .contact-info{
    text-align: center;
    font-size: 3vh;
   color: rgb(255, 255, 255);
   background-color: #000000;
  
}
